body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #2bc0e4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2bc0e4, #eaecc6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2bc0e4, #eaecc6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #80DBF0; opacity:0.6;
    border: 2px solid #52CDEA;
    z-index: 10;
}

li {
    float: left;
    padding: 0 25px;
    font-size: 20px;
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #06B3DC;
}

.nav-modal > h1 {
    text-align: center;

}

article {
    padding: 0 3em 2em 3em;
}

h1 {
    font-size: 3em;
    margin-top: 0;
    margin: 0 20px 0 0;
}

h2 {
    font-size: 3em;
    margin: 0;
    padding: 65px 0 0 32px;
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
}

p {
    line-height: 1em;
}

article img {
    max-height: 600px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding: 15px;
}

.thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-color: white;
    border: solid 2px black;
    margin: 0 45px;
}

.icon-portrait {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.icon-landscape {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.nav-modal {
    padding-top: 60px;
}

#about {
    text-align: center;
    padding-top: 70px;
}

#about p {
    margin: 0 50px;
}

#projects, #resume {
    display: none;
}

#personal-image {
    height: 100%;
    width: auto;
}

.image-cropper {
    width: 95px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

#modal-content {
    position: absolute;
    top: 0;
    text-align: left;
    width: 80%;
    left: 10vw;
}

.proj {
    display: none;
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    background-color: white;
}

.proj:after {
    background-color: grey;
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

span {
    color: gray;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 65px 32px 0 0;
}

span:hover {
    color: black;
    cursor: pointer;
}

#resume {
    width: 816px;
    margin: 0 auto;
}

#projBackground {
    opacity: 1;
    cursor: default;
}
