body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #D8F7FF;
}

ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

section {
    display: grid;
    grid-template-columns: 25% auto;
}

figure {
    background: #BBE2ED;
    margin: 0;
    text-align: center;
}

article {
    padding: 2em;
}

h1 {
    font-size: 3em;
    margin-top: 0;
    margin: 0 20px 0 0;
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
}

p {
    line-height: 2em;
}

figure > img {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    max-width: 200px;
}

article img {
    max-height: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container > img {
    width: 100%;
}

.modal {
    padding-top: 20px;
}

#about {
    text-align: center;
    padding-top: 50px;
}

#projects {
    display: none;
}

#experience {
    display: none;
}

#involvement {
    display: none;
}

#personal-image {
    height: 100%;
    width: auto;
}

.image-cropper {
    width: 95px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}