body {
  text-align: center;
}
/*** NAVBAR ***/
.nav-wrapper {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  padding: 15px 20px;
  display: grid;
}
nav ul {
  padding: 0;
  width: 100%;
}
nav ul li {
  display: block;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  letter-spacing: .1em;
  font-weight: bold;
  color: black;
}
.nav-items {
  /* grid-column: 1/5;
  position: absolute; */
}
/* .burger-icon {
  float: right;
  display: inline-block;
  justify-self: end;
  grid-column: 4/5;
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
  position: absolute;
}
.mobile-show {
  display: block;
}
.mobile-hide {
  display: none;
} */
/*** HOME ***/
/* Parallax */
header {
  background-image: url("../Images/mobile_background.png");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/*** PROJECT ***/
.projects_wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
figure {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 10px 0;
  position: relative;
  text-align: center;
}
figure img {
  width: 80%;
  max-width: 300px;
}
.overlay {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  color: white;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
}
.overlay h2 { font-size: 6vw; }
.overlay h3 { font-size: 4.5vw; }
.overlay p { font-size: 3.5vw; }
figcaption {
  position: fixed;
  width: 100%;
  bottom: 0px; /* change to auto but need to fix animation */
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
/*** CONTACT ***/
input {
  margin: 10px 0;
}

/* Animations */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}