@import '../../utils/variables';

.project-container {
  min-width: 90%;
  height: 180px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    &.background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    opacity: 0.8;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: black;
    }
  }
}

@media only screen and (min-width: $min-tablet-size) {
  .project-container {
    min-width: 45%;
    height: 200px;
  }
}

@media only screen and (min-width: $min-desktop-size) {
  .project-container {
    min-width: 30%;
    height: 220px;
  }
}