@import '../../utils/variables';

.header-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
}

@media only screen and (min-width: $min-tablet-size) {
  .header-container {
    font-size: large;
  }
}